* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;

}

.container {

  margin: auto;
  width: 80%;
  height: 100vh;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.border-header, .border-nav, .border-disclaimer {

  padding: 40px 0px;
  height: 100px;
  border: 1px solid rgba(0,0,0,0.1);

}

.border-header {

    background-color: #f5f8fa;
}


#language {

  font-weight: lighter;
  margin-right: 5px;
}


.left-header, .left-nav {

  float: left;
  width: 50%;

}

#contact-sales {

  margin-left: 20px;
}

.right-header {

  float: right;
}

.right-header a {

  color: lightblue;
}

.button-login {

  margin-left: 10px;
  padding: 10px 20px;
  color: coral;
  background-color: white;
  border: 1px solid coral;

}

.free-account {

  padding: 8px;
  margin-left: 10px;
  color: white;
  background-color: coral;
  border: 1px solid coral;

}

#logo {

  width: 18%;
}

.right-nav {

  float: right;
}

.right-nav ul li {

  padding: 0 10px;
  display: inline-block;
  text-align: center;
}

.arrow-down::after {
  content: '\f0dd';
    font-family: FontAwesome;
    margin-left:10px;
}

.border-disclaimer {

  padding: 25px 0px;
  background-color: #425b76;
  color: white;
  font-size: 18px;

}

.youtube-channel{

  font-weight: 600;
  text-decoration: underline;
}


.homepage {
  background-color: #fff4ee;
}

.slogan {

  color: rgba(0, 0, 0, 0.7);
  font-size: 40px;
  padding-top: 100px;
  width: 40%;
}
