* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;

}

.clearfix::after {
  display:table;
  content:"";
  clear:both;
}

.container {

  margin: auto;
  width: 80%;
  /* height: 100vh; */
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}


ul {

  list-style: none;
}

.border-header, .border-nav, .border-disclaimer {

  padding: 40px 0px;
  height: 100px;
  border: 1px solid rgba(0,0,0,0.1);

}

.border-header {

    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 2;
    background-color: #f5f8fa;
}


#language {

  font-weight: lighter;
  margin-right: 5px;
}


.left-header, .left-nav {

  float: left;
  width: 50%;

}

#contact-sales {

  margin-left: 20px;
}

.right-header {

  float: right;
}

.right-header a {

  color: lightblue;
}

.button-login {

  border-radius: 3px;
  margin-left: 10px;
  padding: 10px 20px;
  color: coral;
  background-color: white;
  border: 1px solid coral;

}

.free-account {

  border-radius: 3px;
  padding: 8px;
  margin-left: 10px;
  color: white;
  background-color: coral;
  border: 1px solid coral;

}

#logo {

  width: 18%;
}

.right-nav {

  float: right;
}

.right-nav ul li {

  padding: 0 10px;
  display: inline-block;
  text-align: center;
}

.arrow-down::after {
  content: '\f0dd';
    font-family: FontAwesome;
    margin-left:10px;
}

.border-disclaimer {

  padding: 25px 0px;
  background-color: #425b76;
  color: white;
  font-size: 18px;

}

.youtube-channel{

  font-weight: 600;
  text-decoration: underline;
}


.homepage {
  background-image: url("city.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-color: #fff4ee;
}

.slogan, .main-text, .info-paid, .second-slogan, .second-text, .classic-text, h3, h2, hr, .list-features {

  color: rgba(0, 0, 0, 0.7);
}

.slogan, .main-text, .info-paid {

  width: 40%;
}

.slogan {

  font-size: 40px;
  padding-top: 100px;

}

.main-text, .main-button {

  padding-top: 30px;
  font-size: 20px;
}

.central-button {

  margin-top: 20px;
  border-radius: 3px;
  padding: 20px;
  color: white;
  background-color: coral;
  border: 1px solid coral;
  font-size: 20px

}

.info-paid {

  margin-top: 20px;
}


.middle-page {

  background-color: #f5f8fa;
  height: 1200px;
}

.second-slogan {

  padding-top: 100px;
  font-size: 30px;
  /* width: 30%; */
}

.second-text {

  margin-top: 20px;
  font-size: 20px;
  /* width: 30%; */
}

.second-page {
  width: 100%;
}

.info {

  float: left;
  width: 33%;
  height: 50%;
}

.second-block {
  margin-top: 100px;
  float: left;
  width: calc(33% - 10px);
  background-color: white;
  height: 50%;
}

.container-box {
  padding: 30px;
}

h3 {
  font-size: 25px;
  display: inline-block;
}

.middle-page  i {
  font-size: 150%;
  color: coral;
  margin-right: 10px;
}

.margin-top {

  margin-top: 25px;
}

hr {
  opacity: 50%;
}

.features {

  display: inline-block;
  text-transform: uppercase;
}

.list-features {

  margin-top: 15px;
}

#tick {

  font-size: 100%;
  color: coral;
  margin-right: 10px;
}

.free-crm {

  border-radius: 3px;
  width: 100%;
  padding: 15px 0px;
  font-size: 16px;
  color: white;
  background-color: coral;
  border: 1px solid coral;
}

.third-block {

  position: relative;
  margin-top: 100px;
  background-color: white;
  width: calc(33% - 10px);
  float: right;
}

.second-page i {
  color: coral;
  margin-right: 10px;
}

#new {

  color: #00bda5;
  position: absolute;
  top: 5px;
  right: 0px;
}

.fourth-block, .fifth-block {

  margin: 40px 10px 0;
  background-color: white;
  width: calc(33% - 20px);
  float: left;
}

.sixth-block {

  margin: 20px 10px 0;
  background-color: white;
  width: calc(33% - 20px);
  float: right;
}

.third-page {

  width: 100%;
  height: 100%;
  background-color: #00adb4;
}

.third-text{

  padding: 100px 150px 0;
  color: white;
  text-align: center;
  margin-bottom: 80px;
}

.third-title  {

    color: white;
    font-weight: 700;
    font-size: 35px;
}

.third-text:last-child p  {

  color: white;
  text-align: center;
  font-weight: lighter;
  padding: 20px 40px 0;
  font-size: 18px;

}

.float-left {

  float: left;
}

.numbers {

  color: white;
}

.first-number .text-number {


  text-align: center;
  margin-bottom: 30px;
}

.border-nav {

  margin-top: 100px;
}
.main-number {

  display: inline-block;
  font-size: 62px;
  font-weight: 700;
}

.first-number {

    text-align: center;
    width: 25%;
    height: 200px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.first-number  span, .complete-number-last span {

  vertical-align: 1em;
}

.first-number i, .last-number i, .complete-number-last i {

  font-size: 200%;
}

.complete-number {

  margin-top: 40px;
}

.logo-for-number {

  width: 69px;
}

.complete-number-two {

  margin-top: 50px;
}

.last-number {


      text-align: center;
      width: 25%;
      height: 200px;
      border-bottom: 1px solid white;

}

.name-number {

  font-size: 1.5em;
}

.complete-number-last {

  margin-top: 42px;
}

.second-row {

      text-align: center;
      width: 25%;
      height: 200px;
      border-right: 1px solid white;

}

#globe {

  font-size: 2em;
}

.second-row-last {

      text-align: center;
      width: 25%;
      height: 200px;
      margin-bottom: 100px;

}

.last-part {

    background-color: #ffffff;
    height: 1000px;
}

.customers {

  width: 40%;
  padding-top: 100px;
}

.customers h2 {

  padding-top: 10px;
  font-size: 3em;
}

.customers p {

  font-size: 1.4em;
  font-weight: 200;
  padding-top: 10px;
}

.sponsor {

  padding-top: 100px;
  width: 60%;

}

.img-sponsor img{

  margin-left: 10px;
  width: 150px;
}

#subaru {

  margin-bottom: 13px;
}

#vmware {

  margin-bottom: 30px;
}
